/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*
文字サイズの指定方法
  px: ピクセル指定;
  % : パーセント指定;
  em: X割指定（0.5em => 50%,1em => 100%);
*/

/*共通部分*/
body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 30px;
}

a {
  color:#000;
}

a:visited {
  color: #808080;
}

/*個別設定*/
.top_h1{
  margin-bottom:30px;
}

.top_h1 strong{
  margin-right: 10px;
  margin-left: 10px;
}

.top_p {
  margin-left: 30px;
  margin-bottom: 30px;
}

.top_p strong{
  margin-right: 0.5em;
}

.index_table th{
  text-align:center;
}

.new_post {
  margin-bottom:5px;
}

.show_p {
  margin-left:30px;
  margin-bottom:30px;
}

.flash {
  color:#008000;
}

.error_messages {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.error_messages h2{
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}