/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* メモ
文字サイズの指定方法
  px: ピクセル指定;
  % : パーセント指定;
  em: X割指定（0.5em => 50%,1em => 100%);
*/


/*アプリケーション内で共通なもの*/
body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 30px;
}

a {
  color:#000;
}

a:visited {
  color: #808080;
}

tr {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 5px 5px;
}

label {
  display:block;
}

.flash {
  color:#008000;
  margin: 35px;
}

/*各画面固有のもの*/
.top_h1{
  margin-bottom:30px;
}

.top_h1 strong{
  margin-right: 10px;
  margin-left: 10px;
}

.top_p {
  margin-left: 30px;
  margin-bottom: 30px;
}

.top_p strong{
  margin-right: 0.5em;
}

.new_content {
  margin-bottom: 10px;
}

.show_p {
  margin-left:30px;
  margin-bottom:30px;
}

.edit_content {
  margin-bottom: 10px;
}


/*エラーメッセージの処理*/
.error_messages {
  width: 450px;
  height: 120px;
  border: 2px solid red;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.error_head {
  background-color:red;
  color:#fff;
  padding:5px 15px;
  font-weight: bold;

}

.error_body {
  margin: 30px;
}

/*エラーが出ると勝手に作られる(エラー文の周りに赤枠つける)*/
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}